.separator {
    height: 1px;
    margin-bottom: 10px;
    background-color: var(--text-color);
    border: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    /* margin-top: auto; */
}

.social {
    display: flex;
    gap: 15px;
}

.socialIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.socialIcon:hover {
    transform: scale(1.1);
}

.options {
    display: flex;
    gap: 25px;
}